.cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    padding: 50px 0;
}
#number-div {
    flex: 10%;
    border-right: 1px solid black;
}
#prod-name-div {
    flex: 50%;
    border-left: 1px solid black;
}
#price-div {
    flex: 15%;
    border-left: 1px solid black;
}
#total-price-div {
    flex: 25%;
    border-left: 1px solid black;
}
.cart-card {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
}
.cart-page-button {
    text-align: right}