footer {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 50px !important;
}
.footer-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.payment-icon{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
}
.details-flex{
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
}